/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
      Blue: hsl(207, 90%, 61%)
      Purple: hsl(250, 66%, 75%)
      Pink: hsl(356, 66%, 75%)
      Teal: hsl(174, 63%, 62%)
  */

  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    padding-top: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    
}

ul {
    list-style: none;
  }
  
a {
    text-decoration: none;
  }

.left-column,
.right-column {
    width: 100%;
    box-sizing: border-box;
}

.left-column {
    max-width: 300px;
    justify-content: center;
}

.right-column {
    max-width: 800px;
}
.profile-section {
    display: grid;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.profile-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.profile__name {
    font-size: var(--h2-font-size);
    justify-content: center;
  }
.social-icons img {
    width: 35px;
    
}

.profile__social {
    width: 100%;
    display: grid;
    column-gap: .75rem;
    text-align: center;
    align-items: center;
}
  
  .profile__social-link {
    font-size: 1.25rem;
    color: var(--title-color);
    transition: .3s;
  }
  
  .profile__social-link:hover {
    color: var(--first-color);
  }

.about-section h2,
.skills-section h2,
.projects-section h2,
.experience-section h2,
.education-section h2 {
    color: #333;
    margin-bottom: 10px;
}

.skills-section ul,
.project-skills,
.experience-skills,
.education-skills {
    list-style: none;
    padding: 0;
    margin: 0;
}



.experience-row {
    padding: 2px 10px 10px 20px;
    background-color: rgba(94, 94, 94, 0.053);
    border-radius: 10px;
    
}
.education-row {
    padding: 2px 10px 10px 20px;
    background-color: rgba(94, 94, 94, 0.053);
    border-radius: 10px;
}

.div-class {
    padding: 5px;
}

.skills-section li,
.project-skills li,
.experience-skills li,
.education-skills li {
    background-color: rgba(0, 0, 255, 0.1);
    color: purple;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    display: inline-block;
}

.project-tile {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.project-tile img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.read-more {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.read-more:hover {
    background-color: #555;
}

footer {
    text-align: center; /* Center align the content */
    padding-top: 80px; /* Add padding around the content */
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .left-column {
        width: 30%;
        padding-right: 30px;
    }

    .right-column {
        width: 70%;
        padding-left: 30px;
    }
    .left-column {
        justify-content: left;
    }
.profile-section img {
    justify-content: left;
}
    .profile__social {
        display: grid;
        justify-content: left;
        column-gap: .75rem;
      }
    .projects-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
}